extends layout

block content
    p
    | username : #{userProfile.username}
    if userProfile.friends.length > 0
        b="friends:"
        ul
            each friend in userProfile.friends
                li
                    #{friend}   
    form(method="post" action="/users/profile/addfriend")
        input(type="hidden" name="userID" value="#{userProfile._id}")
        input(type="submit" value="Add Friend")
