extends layout

block content
  form(method='POST' action='submit')
    label(for='body') Textul Intrebarii:
    br
    textarea(name="body" rows='10' cols='100')
    br
    label(for='answer') Raspuns:
    br
    textarea(name="answer" cols='100')
    br
    label(for='comment') Comentariu:
    br
    textarea(name="comment" cols='100')
    br
    label(for='author') Autor:
    br
    input(type='text' name="author" size='50')
    br
    input(type='submit')
